<h1>Register</h1>
<p>to</p>
<h4>Gruppe 40 - workoutprogram</h4>

<div>
    <div>
        <form (submit)="onRegisterSubmit()">
            <div class="form-group">
                <label>Username</label>
                <input type="text" [(ngModel)]="user.username" name="username" class="form-control">
            </div>
            <div class="form-group">
                <br>
                <label>Email</label>
                <input type="text" [(ngModel)]="user.email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <br>
                <label>Password</label>
                <input type="password" [(ngModel)]="user.password" name="password" class="form-control">
            </div>
            <br>
            <input type="submit" class="btn btn-primary" value="Register" (onClick)="onRegisterClick()" >
        </form>
    </div>
    <div>
        <br>
        <button [routerLink]="['/login']" label="Go to Login">Go to Login</button>
    </div>
</div>